body {
  background: url("../img/forest.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 100px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  color: #000000;
  cursor: url("../img/hand.png"), auto;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-family: 'Bungee Shade';
  font-weight: bold;
}

h3 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0 !important;
  font-weight: bold;
}

h4 {
  text-align: center;
  font-weight: bold;
}

h6 {
  margin-top: 0 !important;
}

ul {
  list-style: none;
}

li {
  font-style: italic;
  margin-bottom: 5px;
}

li:hover {
  color: #718059;
}

.stats {
  margin-top: 100px
}

.btn {
  display: block;
  margin: auto;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
  font-weight: bold;
}

.btn:hover {
  color: #000000;
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.container {
  display: block;
  margin: 0 auto;
  padding: 30px;
  width: 60%;
  background-color: #ffffff;
  color: #000000;
  border-radius: 25px;
  opacity: 0.8;
}

.story {
  display: none;
}

.item {
  width: 40px;
  display: block;
  margin: auto;
}

.inventory {
  margin: 0;
}

.stats {
  border: 1px dashed #000000;
  padding: 10px;
}

.progress {
  margin-top: 10px;
  margin-bottom: 0 !important;
}

.progress-full {
  background-color: #718059;
}

#titleImg {
  display: block;
  margin: auto;
  width: 30%;
  margin-bottom: 30px;
}

#storyImg {
  display: block;
  margin: auto;
  width: 20%;
}


@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
