body {
  background: url("../img/forest.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 100px;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 70px;
  font-family: 'Bungee Outline';
  font-weight: bold;
}

h4 {
  text-align: center;
  margin-bottom: 30px;
}

ul {
  list-style: none;
}

img {

}

.btn {
  display: block;
  margin: auto;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}

.container {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 500px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 25px;
  opacity: 0.8;
}

.title {
  /*display: none;*/
}

.story {
  display: none;
}

#title-img {
  display: block;
  margin: auto;
  width: 30%;
  margin-bottom: 30px;
}
